<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ورود</title>
</head>
<body>
    <h2>ورود به چت</h2>
    <form method="POST">
        <input type="password" name="password" placeholder="رمز ورود" required><br><br>
        <input type="text" name="userid" placeholder="نام کاربری (مثلاً Ali123)" required><br><br>
        <input type="text" name="name" placeholder="اسم (فقط بار اول)" ><br><br>
        <button type="submit">ورود</button>
    </form>
    <p>اگر قبلاً وارد شدی، فقط رمز و آیدی رو بزن. اسم لازم نیست.</p>
</body>
</html>
